<div class="register-page">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="brand-name">
                <a class="navbar-brand" href="#">ESTILO</a></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">



                <li class="dropdown">
                    <a
                            class="dropdown-toggle"
                            data-toggle="dropdown"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false">Products</a>


                    <ul class="dropdown-menu">
                        <li><a href="#!/product/CLOTHING">Clothing</a></li>
                        <li><a href="#!/product/WATCHES">Watches</a></li>

                        <li><a href="#!/product/BAGS">Bags</a></li>
                        <li><a href="#!/product/SHOES">Shoes</a></li>

                        <li><a href="#!/product/ACCESSORIES">Accessories</a></li>
                        <li><a href="#!/product/JEWELLERY">Jewellery</a></li>
                        <li><a href="#!/product/SUNGLASSES">Sunglasses</a></li>
                    </ul>
                </li>

            </ul>





            <ul class="nav navbar-nav navbar-right">
                <li><a href="../../home/homeViews/contact.html">Contact Us</a></li></ul><!-- /.navbar-collapse -->

        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="register-form container-fluid">

    <h2 style="font-family: Papyrus">User Registration</h2>
    <br>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>


    <label for="username">Username</label>
    <input name ="username"
           class="form-control"
           id="username"
           ng-model="model.user.username"
           placeholder="alice"/>
    <br>

    <label for="password">Password</label>
    <input name ="password"
           type="password"
           class="form-control"
           id="password"
           ng-model="model.user.password"
           placeholder="pdr$%^G"/>

    <br>

    <label for="verify password">Verify Password</label>
    <input name ="verify password"
           type="password"
           class="form-control"
           id="verify password"
           placeholder="pdr$%^G"/>
    <br>

    <label for="first name">First Name</label>
    <input name ="first name"
           type="text"
           class="form-control"
           id="first name"
           ng-model="model.user.firstName"
           placeholder="Alice"/>

    <br>

    <label for="last name">Last Name</label>
    <input name ="last name"
           type="text"
           class="form-control"
           id="last Name"
           ng-model="model.user.lastName"
           placeholder="Brown"/>
    <br>



    <label for="sex">Sex</label>
    <input name ="Sex"
           type="text"
           class="form-control"
           id="sex"
           ng-model="model.user.sex"
           placeholder="Female"/>

    <br>

    <label for="email">Email</label>
    <input name ="email"
           type="email"
           class="form-control"
           id="email"
           ng-model="model.user.email"
           placeholder="alice@google.com"/>

    <br>
    <label for="address">Address</label>
    <input name ="address"
           class="form-control"
           id="address"
           ng-model="model.user.address"
           placeholder="170 Parker Hill Avenue"/>

    <br>
    <div class="register-button">
    <a class="btn btn-default btn-block btn-primary"
       ng-click="model.register(model.user)"
       role="button">Register</a>
    </div>

    <br>

    <div class="cancel-button">
    <a class="btn btn-default btn-block btn-danger"
       href="#!/"
       role="button">Cancel</a>
    </div>

</div>
</div>

