


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="brand-name">
                <a class="navbar-brand" href="#">ESTILO</a></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a
                            class="dropdown-toggle"
                            data-toggle="dropdown"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false">Products</a>


                    <ul class="dropdown-menu">
                        <li><a href="#!/product/CLOTHING">Clothing</a></li>
                        <li><a href="#!/product/WATCHES">Watches</a></li>

                        <li><a href="#!/product/BAGS">Bags</a></li>
                        <li><a href="#!/product/SHOES">Shoes</a></li>

                        <li><a href="#!/product/ACCESSORIES">Accessories</a></li>
                        <li><a href="#!/product/JEWELLERY">Jewellery</a></li>
                        <li><a href="#!/product/SUNGLASSES">Sunglasses</a></li>
                    </ul>
                </li>


            </ul>




            <ul class="nav navbar-nav navbar-right">
                <li><a href="../../home/homeViews/contact.html">Contact Us</a></li></ul><!-- /.navbar-collapse -->

        </div>
    </div><!-- /.container-fluid -->
</nav>
<h1>Your Orders in Shopping Cart</h1><br>
<div ng-repeat="order in model.shoppingCart._orders">

    <div class="panel panel-default">
        <div class="panel-heading"> Date Created : {{order.dateCreated | date : 'short'}}</div>
        <div class="panel-heading"> Total Amount : {{order.amount}}</div>
        <div class="panel-heading"> Quantity : {{order.quantity}}</div>


        <div class="panel-body">

            <div class="col-sm-3 col-xs-12">
                <div class="card" style="width:100%;border: 1px;">
                    <img class="card-img-top" width="100%" height="200px" ng-src="{{order._product.url}}" alt="Card image cap">
                </div>
            </div>

            <div class="col-sm-3">
                <li class="list-group-item">
                    {{order._product.name}}
                </li>
                <li class="list-group-item">
                {{order._product.company}}
                </li>
            </div>

            <div class="col-sm-6">
                <a ng-click="model.deleteOrderFromCart(model.shoppingCart._id,order)" class="fa fa-trash-o fa-2x pull-right" aria-hidden="true"></a>
            </div>
    </div>
    <br>
</div>

