.home-view{
    background: url(../../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.brand-name{
    font-family: "Calibri";
    font-weight: 100;
    font-size: 40px;
}

.login-button
{
    width: 100%;
}

.username
{
    width: 50%;
    font-family: Papyrus;
    font-size: 20px;
    color: #843534;
}

.password
{
    width: 50%;
    font-family: Papyrus;
    font-size: 20px;
    color: #843534;
}

.container-fluid.pull-right.username.facebook-icon{
    margin-top : auto;

}

.register-page{
    background-color: #c9e2b3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;

}

.contact-page{
    background: url(../../images/contact.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


