<h1>Welcome Delivery Staff</h1>

<div class="col-xs-8">
    <label for="username">Username</label>
    <input name ="username"
           class="form-control"
           id="username"
           ng-model="model.user.username"
    />
    <br>





    <label for="first name">First Name</label>
    <input name ="first name"
           type="text"
           class="form-control"
           ng-model="model.user.firstName"
           id="first name"
    />

    <br>

    <label for="last name">Last Name</label>
    <input name ="last name"
           type="text"
           class="form-control"
           ng-model="model.user.lastName"
           id="last Name"
    />
    <br>




    <label for="sex">Sex</label>
    <input name ="Sex"
           type="text"
           class="form-control"
           id="sex"
           ng-model="model.user.sex"
    />

</div>
<div class="col-xs-4">
    <div class="btn btn-primary btn-block" ng-click = "model.fetchAllOrders(model.userId)" data-toggle="modal" data-target="#orderModal">Show Orders For Delivery</div>
    <a class="btn btn-danger btn-block" href="#!/">Logout</a>
</div>

<div class="modal fade" id="orderModal" role="dialog">
    <div class="modal-dialog" style="word-wrap: break-word">
        <!-- Modal content-->

        <div class="modal-content container-fluid">
            <div ng-repeat="order in model.orders">

                <div class="panel panel-default">
                    <div class="panel-heading">Date Created : {{order.dateCreated | date : 'short'}}</div>
                    <div class="panel-body">

                        <div class="col-sm-3 col-xs-12">
                            <div class="card" style="width:100%;border: 1px;">
                                <img class="card-img-top" width="100%" height="200px" ng-src="{{order._product.url}}" alt="Card image cap">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <li class="list-group-item">
                                Product Name : {{order._product.name}}
                            </li>
                            <li class="list-group-item">
                                Company Name : {{order._product.company}}
                            </li>
                            <li class="list-group-item">
                                Order Quanity : {{order.quantity}}
                            </li>
                        </div>


                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>


        </div>
    </div>
</div>

