<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           ng-model="model.product.name"
           id="name"/>
    <br>

    <label for="type">Type</label>
    <input class="form-control"
           ng-model="model.product.type"
           id="type"/>
    <br>
    <label for="url">URL</label>
    <input class="form-control"
           ng-model="model.product.url"
           id="url"/>
    <br>
    <label for="quantity">Quantity</label>
    <input class="form-control"
           type="number"
           ng-model="model.product.quantity"
           id="quantity"/>
    <br>
    <label for="price">Price per Unit</label>
    <input class="form-control"
           ng-model="model.product.price"
           id="price"/>
    <br>
    <label for="company">Company</label>
    <input class="form-control"
           ng-model="model.product.company"
           id="company"/>
    <br>
    <label for="reviews">Reviews</label>
    <input class="form-control"
           ng-model="model.product.reviews"
           id="reviews"/>



    <a ng-click="model.addProduct(model.product)"
       class="btn btn-block btn-primary">
        Add the product
    </a>


</div>
